﻿@model IEnumerable<crm.Domain.Entity.Produit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Mon panier", "MonPanier")

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qteMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategProdFK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MagasinId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qteMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategProdFK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MagasinId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProduitId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProduitId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProduitId })|
            @Html.ActionLink("Ajouter au panier", "AjouterPanier", new { id = item.ProduitId })
        </td>
    </tr>
}

</table>
