﻿@model Pi_Dev_v1.Models.PanierModel

@{
    ViewBag.Title = "MonPanier";
}

<h2>MonPanier</h2>

<div>
    <h4>PanierModel</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<table class="table">
    <tr>
        <th>
            produit
        </th>
        <th>
            prix
        </th>
        <th>
            Qte
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.panierProduits)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.produit.nomProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.produit.prix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qte)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProduitId }) |
        </td>
    </tr>
    }

</table>
